body {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

input, select {
  padding: 0.2rem;
}

.billing-info {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.billing-error {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1rem;
  display: none;
}

.billing-error--display {
  display: flex;
}

.billing-info h2 {
  align-self: flex-start;
}

.user-information {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-name, .user-company, .user-phone, .user-email, .user-country-state, .user-city-surburb, .user-street, .user-department {
  width: 100%;
}

.user-name, .user-country-state, .user-city-surburb, .user-street {
  display: flex;
  justify-content: space-between;
}

.user-name__first, .user-name__last {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.user-name input {
  width: 100%;
}

.user-company {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-phone {
  display: flex;
  flex-direction: column;
}

.user-phone__detail {
  display: flex;
  align-items: center;
  height: 1.4rem;
}

.phone-region__fieldset {
  border: none;
  width: 20%;
  height: 100%;
  display: flex;
}

.phone-region-select {
  width: 100%;
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.phone-number-input {
  width: 80%;
  height: 100%;
  outline: none;
  border-width: 1px;
}

.user-email {
  display: flex;
  flex-direction: column;
}

.user-country__detail, .user-state__detail, .user-city__detail, .user-surburb__detail, .user-street__name, .user-street__num {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.user-department {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.shipping-info {
  width: 90%;
  max-width: 450px;
  align-self: flex-start;
  margin-left: 5%;
}

.shipping-fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.shipping-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.shipping-info__free, .shipping-info__express {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  outline: 1px solid rgba(0,0,0,0.5);
  padding: 0.8rem 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.shipping-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.shipping-alternative {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding-inline: 1rem;
}

.order-review {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  padding: 1.2rem;
  padding-right: 2.5rem;
}

.order-review__detail {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 0.2rem;
  padding-left: 1.5rem;
}

.detail__title {
  width: 100%;
  display: grid;
  grid-template-columns: 90% 10%;
}

.detail__info {
  width: 100%;
  display: grid;
  grid-template-columns: 90% 10%;
  padding-left: 0.5rem;
}

.order-review__wrapup {
  width: 40%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.wrapup__coupon, .wrapup__total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coupon-input {
  background: transparent;
  width: 50%;
}

.proceed-payment-btn {
  width: 70%;
  padding-block: 0.8rem;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
  text-align: center;
}

@media (min-width: 768px) {
  .user-phone__detail {
    height: 1.7rem;
  }

  .billing-info {
    width: 65%;
  }

  .shipping-info {
    width: 42%;
    margin-left: 17.5%;
  }

  .shipping-info__free, .shipping-info__express {
    gap: 1rem;
  }

  .order-review {
    width: 40%;
    max-width: 400px;
    align-self: flex-end;
  }

  .order-review__wrapup {
    width: 100%;
    padding-left: 1.5rem;
  }

  .coupon-input {
    width: 35%;
  }

  .proceed-payment-btn {
    width: 65%;
  }
}

@media (min-width: 1020px) {
  .billing-info {
    width: 55%;
    max-width: 792px;
  }

  .shipping-info {
    width: 30%;
    max-width: 432px;
    margin-left: max(22.5%, (100% - 792px) / 2);
  }

  .order-review {
    width: 30%;
    max-width: 400px;
    align-self: flex-end;
    margin-right: max(22.5%, (100% - 792px) / 2);
  }

  .order-review__wrapup {
    width: 100%;
    padding-left: 1.5rem;
  }

  .coupon-input {
    width: 35%;
  }

  .proceed-payment-btn {
    width: 55%;
    max-width: 792px;
  }
}