header {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  padding: 0.8rem 0.6rem;
  gap: 0.3rem;
}

.header-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-section__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__img {
  width: 40px;
  aspect-ratio: 6/5;
}

.header-section__search {
  width: 25%;
  border-radius: 0.2rem;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
  padding-right: 0.3rem;
  display: none;
}

.search__input {
  width: 90%;
  outline: none;
  border: none;
  padding: 0.3rem;
  border-radius: 0.2rem;
}

.header-section__tools {
  width: 20%;
}

.tools__functions {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
}
 
.nav-bar {
  width: 1.8rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.nav-bar__outter-btn {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar__inner-btn {
  width: 1.6rem;
  height: 0.2rem;
  border-radius: 0.5rem;
  transition: all 500ms ease-in-out;
}

.nav-bar__inner-btn::before, .nav-bar__inner-btn::after {
  content: '';
  width: 1.6rem;
  height: 0.2rem;
  position: absolute;
  border-radius: 0.5rem;
  transition: all 500ms ease-in-out;
}

.nav-bar__inner-btn::before {
  top: 15%;
}

.nav-bar__inner-btn::after {
  top: calc(85% - 0.2rem);
} 

.nav-bar__cover {
  width: 50vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  outline: 1px solid rgba(0, 0, 0, 0.4);
  transition: left 500ms ease-in-out;
  z-index: 10;
}

.nav-bar__sub-nav {
  width: 50vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: -100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  outline: 1px solid rgba(0, 0, 0, 0.4);
  transition: left 500ms ease-in-out;
  z-index: 10;
}

.nav-bar--expand ~ .nav-bar__cover {
  left: 50%;
}

.nav-bar--expand ~ .nav-bar__sub-nav {
  left: 0%;
}

.sub-nav__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.95rem 1.5rem;
  margin-bottom: 0.5rem;
}

.exit-menu-outter-btn {
  width: 1.8rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.exit-menu-inner-btn {
  width: 1.6rem;
  height: 0.2rem;
  position: relative;
  border-radius: 0.5rem;
  transition: all 500ms ease-in-out;
}

.exit-menu-inner-btn::before, .exit-menu-inner-btn::after {
  content: '';
  width: 1.6rem;
  height: 0.2rem;
  position: absolute;
  border-radius: 0.5rem;
  transition: all 500ms ease-in-out;
}

.exit-menu-inner-btn::before {
  top: 15%;
  transform: rotate(45deg);
}

.exit-menu-inner-btn::after {
  top: calc(85% - 0.15rem);
  transform: rotate(-45deg);
} 

.drop-down-game, .drop-down-help {
  position: relative;
}

.sub-nav__item {
  width: 75%;
  margin-inline: 2rem;
}

.sub-nav__item-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-block: 0.5rem;
}

.sub-nav__item span {
  cursor: pointer;
}

.sub-nav__item-list {
  max-height: 0;
  overflow: hidden;
  padding-inline: 0.8rem;
  transition: all 200ms ease-in-out;
}

.sub-nav--expand + .sub-nav__item-list {
  max-height: 1000px;
  padding-block:  0.5rem;
}

.sub-nav--expand .drop-down-toggle__indicator {
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  header {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .header-section {
    width: 75%;
    max-width: 1080px;
  }

  .tools__functions {
    justify-content: center;
    gap: 1.25rem;
  }

  .header-section__search {
    display: flex;
  }

  .functions__search .search__icon {
    display: none;
  }

  .nav-bar__cover {
    display: none;
  }

  .nav-bar {
    width: 60%;
    min-width: 720px;
    aspect-ratio: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
  }

  .nav-bar__outter-btn {
    display: none;
  }

  .nav-bar__sub-nav {
    width: 100%;
    height: auto;
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    gap: 0;
    outline: none;
    max-width: 860px;
  }

  .sub-nav__menu {
    display: none;
  }

  .sub-nav__item {
    width: auto;
    margin-inline: 0;
  }

  .sub-nav__item-name {
    justify-content: flex-start;
  }

  .sub-nav__item-name, .sub-nav__item span  {
    border: none;
  }

  .sub-nav__item-list {
    width: 170px;
    position: absolute;
    top: 135%;
    left: 0;
    padding-inline: 1.8rem;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
  }

  .sub-nav--expand + .sub-nav__item-list {
    outline: 1px solid var(--header-bg-clr);
  }
}