body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.product-promotion {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-promotion__gallery::-webkit-scrollbar {
  display: none;
}

.product-promotion__gallery {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  overflow: hidden;
}

.gallery__img {
  width: 0;
  flex: none;
  aspect-ratio: 3/1;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.slider-img-1 {
  background-image: url(../res/index-promotion-one.jpeg);
}

.slider-img-2 {
  background-image: url(../res/index-promotion-two.jpeg);
}

.slider-img-3 {
  background-image: url(../res/index-promotion-three.jpeg);
}

.selected-slider-img {
  width: 100%;
}

.product-promotion__control {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 1rem;
  position: absolute;
  top: 85%;
}

.control__slide-btn {
  width: 1.8rem;
  height: 0.3rem;
  border-radius: 0;
  border: none;
  outline: 1px solid var(--slide-control-bg-clr--selected);
}

section {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  gap: 1.5rem;
}

.product-category {
  width: 100%;
  gap: 1rem;
}

.product-category__options {
  width: 82.5%;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  overflow: auto;
  padding-inline: 0.5rem;
}

.product-category__options::-webkit-scrollbar {
  display: none;
}

.product-category__options div {
  width: 30%;
  display: flex;
  flex: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  text-align: center;
  padding-block: 0.625rem;
  cursor: pointer;
}

.product-category__options div:hover {
  transform: scale(1.02);
}

.option__board-game img {
  width: 70%;
}

.option__card-game img {
  width: 60%;
}

.option__role-playing img {
  width: 45%;
}

.option__puzzle img {
  width: 60%;
}

.option__editor-choice img {
  width: 60%;
}

.product-trend__options, .product-best-seller__options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
  overflow: auto;
  padding-inline: 0.5rem;
}

.product-trend__options::-webkit-scrollbar, .product-best-seller__options::-webkit-scrollbar {
  display: none;
}

.option__item {
  width: 45%;
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1px solid black;
  margin-block: 1rem;
  padding: 0.5rem;
  padding-top: 1.5rem;
  border-radius: 1rem;
}

.option__item img {
  width: 65%;
  cursor: pointer;
}

.option__item img:hover {
  transform: scale(1.01);
}

.option__item p {
  margin-block: 0.25rem;
}

.option__item button {
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  margin-top: 0.5rem;
}

.view-all-btn {
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.5);
}

.product-trend a, .product-best-seller a {
  align-self: flex-end;
}

.customer-review {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.customer-review__preview {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 5rem 3rem;
}

.preview__content {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.preview__link {
  width: 75%;
  text-align: right;
}

.customer-review__input {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 3.5rem;
}

.input__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.content__textarea {
  padding-inline: 0.5rem;
  width: 100%;
  aspect-ratio: 7/2;
  resize: none;
}

.input__btn {
  align-self: flex-end;
}

.input__btn button {
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .gallery__img {
    aspect-ratio: 5/1;
  }

  .product-promotion, section {
    width: 100%;
  }

  .product-trend, .product-best-seller {
    width: 52.25%;
  }

  .product-category__options div {
    max-width: 110px;
  }

  .product-category {
    width: 60%;
  }

  .product-category__options {
    width: 100%;
    justify-content: center;
    gap: 2%;
  }

  .option__item button {
    padding: 0.8rem 2rem;
  }

  .preview__content {
    width: 50%;
    padding-block: 3rem;
  }

  .preview__link {
    width: 50%;
  }

  .product-category__options {
    width: 82.5%;
    justify-content: space-between;
  }

  .customer-review__input {
    width: 70%;
  }
}

@media (min-width: 1020px) {
  main {
    max-width: 1440px;
  }

  .option__item {
    width: 25%;
    padding-block: 2rem;
  }

  .product-category__options div {
    width: 20%;
    aspect-ratio: 9/10;
  }

  .preview__content {
    width: 50%;
  }

  .preview__link {
    width: 50%;
  }

  .customer-review__input {
    width: 50%;
  }

  .content__textarea {
    width: 100%;
    aspect-ratio: 3/1;
  }

  .product-trend__options, .product-best-seller__options {
    gap: 0;
  }

  .option__item {
    width: 30%;
  }
}