@import url(root.css);
/* import header css */
@import url(header.css);
/* import footer css */
@import url(footer.css);
@import url(payment-complete-layout.css);
@import url(payment-complete-typography.css);
@import url(payment-complete-color.css);

/* Whole CSS below */

/* 
body {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin-block: 4.5rem;
}

.order-placed-description, .post-order-alternatives {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-placed-description {
  flex-direction: column;
  gap: 0.5rem;
}

.order-placed-description img {
  width: 35%;
  aspect-ratio: 1;
}

.order-placed-description h2 {
  font-size: var(--h2-font-size--sm);
}

.post-order-alternatives a {
  width: 40%;
  text-align: center;
  padding: 0.7rem 0.4rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: bold;
  font-size: var(--content-font-size--sm);
}

.continue-shop-btn {
  background-color: var(--continue-shopping-btn-bg-clr);
  color: var(--text-ter-clr);
}

.continue-shop-btn:hover {
  background-color: var(--continue-shopping-btn-bg-clr--hover);
}

.create-account-btn {
  background-color: var(--proceed-btn-bg-clr);
  color: var(--text-qua-clr);
}

.create-account-btn:hover {
  background-color: var(--proceed-btn-bg-clr--hover);
}

@media (min-width: 768px) {

  .order-placed-description h2 {
    font-size: var(--h2-font-size--md);
  }

  .post-order-alternatives a {
    font-size: var(--content-font-size--md);
  }

  .order-placed-description, .post-order-alternatives {
    width: 65%;
  }

  .order-placed-description img {
    width: 35%;
  }
}

@media (min-width: 1020px) {
  .order-placed-description, .post-order-alternatives {
    width: 55%;
  }

  .order-placed-description img {
    width: 25%;
  }
} */

