@import url(root.css);
 
body {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-family: var(--content-font-family);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 1.5rem;
}

main h2, main legend {
  font-size: 0.8rem;
  font-weight: bold;
}

main label, main span, main button, main a, main select, main input {
  font-size: 0.6rem;
}

main input, main select {
  padding: 0.2rem;
}

.payment {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.payment-error {
  /* outline: 1px solid black; */
  width: 100%;
  background-color: #f2dedd;
  padding: 1rem 1rem;
  color: #e93d34;
  align-items: center;
  justify-content: flex-start;
  display: none;
}

.payment-error--display {
  display: flex;
}

.payment-error span {
  font-size: 10px;
}

.payment h2 {
  align-self: flex-start;
  font-size: 12px;
}

form {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 1.5rem;
}

form label {
  font-size: 10px;
}

form input {
  line-height: 1.8;
  font-size: 10px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.payment__card-number, .payment__card-holder, .card-meta__expiry, .card-meta__security-code {
  display: flex;
  flex-direction: column;
}

.payment__card-meta {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.card-meta__expiry, .card-meta__security-code {
  width: 48%;
}

.payment__paypal-btn {
  /* padding: 0.8rem 0.5rem; */
  text-align: center;
  color: var(--text-ter-clr);
  background-color: #ffcc30;/* change later */
  border-radius: 0.5rem;
  font-size: 10px;
  border: none;
}

.payment__paypal-btn:hover {
  background-color: #f9c015;
}

.payment__paypal-btn img {
  width: 60px;
}

.payment__submit-btn {
  padding: 0.7rem 0.5rem;
  text-align: center;
  color: var(--text-ter-clr);
  background-color: #25ae60;/* change later */
  border-radius: 0.5rem;
  font-size: 10px;
  border: none;
}

.payment__submit-btn:hover {
  background-color: #1e8a4d;
}

@media (min-width: 768px) {
  .payment {
    width: 65%;
  }

  .payment-error span {
    font-size: 14px;
  }

  .payment h2 {
    font-size: 16px;
  }

  .payment__paypal-btn img {
    width: 65px;
  }

  form label, form input {
    font-size: 14px;
  }
  
  .payment__submit-btn {
    font-size: 14px;
  }
}

@media (min-width: 1020px) {
  .payment {
    width: 55%;
  }
}