body {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 1.5rem;
}

input {
  padding: 0.2rem;
}

.payment {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.payment-error {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1rem;
  display: none;
}

.payment-error--display {
  display: flex;
}

.payment h2 {
  align-self: flex-start;
}

form {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.payment__card-number, .payment__card-holder, .card-meta__expiry, .card-meta__security-code {
  display: flex;
  flex-direction: column;
}

.payment__card-meta {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-meta__expiry, .card-meta__security-code {
  width: 48%;
}

.payment__paypal-btn {
  text-align: center;
  border-radius: 0.5rem;
  border: none;
}

.payment__paypal-btn img {
  width: 60px;
}

.payment__submit-btn {
  padding: 0.7rem 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  border: none;
}

@media (min-width: 768px) {
  .payment {
    width: 65%;
  }

  .payment__paypal-btn img {
    width: 70px;
  }
}

@media (min-width: 1020px) {
  .payment {
    width: 55%;
    max-width: 792px;
  }
}