body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bread-crumb {
  align-self: flex-start;
  margin-left: 1rem;
}

section {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.product-category {
  gap: 1rem;
  width: 100%;
}

.product-category__options {
  width: 82.5%;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  overflow: auto;
  padding-inline: 0.5rem;
}

.product-category__options::-webkit-scrollbar {
  display: none;
}

.product-category__options div {
  width: 30%;
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  text-align: center;
  padding-block: 0.625rem;
  cursor: pointer;
}

.product-category__options div:hover {
  transform: scale(1.02);
}

.option__board-game img {
  width: 70%;
}

.option__card-game img {
  width: 60%;
}

.option__role-playing img {
  width: 45%;
}

.option__puzzle img {
  width: 60%;
}

.option__editor-choice img {
  width: 60%;
}

.product__sort-by {
  width: 25%;
  align-self: flex-end;
  margin-right: 0.5rem;
}

fieldset {
  border: none;
}

.sort-by__menu {
  width: 100%;
  text-align: center;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.product__options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-inline: 0.5rem;
  gap: 10%;
}

.option__item {
  width: 45%;
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1px solid black;
  margin-block: 1rem;
  padding: 0.5rem;
  padding-top: 1.5rem;
  border-radius: 1rem;
}

.option__item a  {
  width: 65%;
}

.option__item img {
  width: 100%;
  aspect-ratio: 5/7;
  cursor: pointer;
}

.option__item img:hover {
  transform: scale(1.01);
}

.option__item p {
  margin-block: 0.25rem;
}

.option__item button {
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  margin-top: 0.5rem;
}

.product__load-pages {
  margin-block: 1rem;
  width: 100%;
}

.load-pages__btn {
  width: 100%;
  padding-block: 0.8rem;
  border-radius: 0.5rem;
  border: 1px solid var(--bg-pri-clr);
}

@media (min-width: 768px) {
  main {
    width: 65%;
  }
  
  section {
    width: 95%;
  }

  .product {
    gap: 1rem;
  }

  .product__sort-by {
    width: 18%;
  }

  .product-category__options div {
    max-width: 115px;
  }

  .option__item button {
    padding: 0.8rem 2rem;
  }

  .product__load-pages {
    width: 100%;
  }

  .load-pages__btn {
    padding-block: 1rem;
  }
}

@media (min-width: 1020px) {
  main {
    max-width: 936px;
  }

  .product__options {
    gap: 0;
  }

  .option__item {
    width: 30%;
    max-width: none;
    padding-block: 2rem;
  }
}