body {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.bread-crumb {
  align-self: flex-start;
  margin-left: 1rem;
}

.product {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.5rem 0 0.5rem;
  gap: 1rem;
}

.product-primary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.product-information-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.product__img {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img__preview {
  display: flex;
  justify-content: center;
}

.img__preview img {
  width: 60%;
}

.img__thumbnail {
  display: flex;
  justify-content: center;
}

.img__thumbnail img {
  width: 25%;
  aspect-ratio: 1;
  cursor: pointer;
  transition: opacity 500ms linear;
}

.product__meta {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product__order-section {
  display: flex;
  align-self: flex-start;
  gap: 0.5rem;
  width: 100%;
}

.order-section__quantity {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quantity__decrement-btn, .quantity__increment-btn {
  padding: 0.6rem 0.6rem;
  outline: none;
  border: none;
  border-radius: 0.3rem;
}

.order-section__add-product-btn {
  width: 50%;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem;
}

.disable-btn {
  pointer-events: none;
  cursor: not-allowed;
}

.product__additional-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.additional-info__selection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selection__content {
  width: 50%;
  text-align: center;
  cursor: pointer;
  outline: 1px solid rgba(0,0,0,0.5);
  padding-block: 0.2rem;
  transition: all 500ms ease-in-out;
}

.content__text[data-display="false"] {
  display: none;
}

.product__social-media {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

@media (min-width: 768px) {
  body {
    align-items: center;
  }

  main {
    width: 70%;
  }

  .product {
    width: 95%;
  }

  .img__preview {
    display: flex;
    justify-content: center;
  }

  .img__preview img {
    width: 50%;
  }

  .img__thumbnail {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .img__thumbnail img {
    width: 20%;
  }

  .product__social-media {
    align-self: flex-end;
  }
}

@media (min-width: 1020px) {
  body {
    align-items: center;
  }

  main {
    width: 60%;
    max-width: 864px;
  }

  .product {
    width: 95%;
  }

  .product-primary-container {
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: space-between;
  }

  .product__img {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-block: 1rem;
  }

  .img__preview {
    display: flex;
    justify-content: center;
  }

  .img__preview img {
    width: 60%;
  }

  .img__thumbnail {
    display: flex;
    justify-content: space-around;
    gap: 0;
  }

  .img__thumbnail img {
    width: 25%;
  }

  .product-information-container {
    width: 48%;
    justify-content: flex-end;
  }

  .product__social-media {
    align-self: flex-end;
  }
}